{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <h1 class="col">Topics</h1>
    {% if request.user.is_authenticated %}
        <button class="col-2 btn btn-primary m-2">Logout</button> 
    {% else %}
        <button class="col-2 btn btn-primary m-2" onclick="location.href = '/account/signup'">Sign up</button>
        <button class="col-2 btn btn-primary m-2" onclick="location.href = '/account/login'">Login</button> 
    {% endif %}
</div>
<div class="row">
{% for topic in topics %}
    <!-- <a href="{% url 'topic_detail' topic.pk %}"
        class="btn btn-primary">
        {{ topic.title }}
    </a> -->
    <div class="col-md-4">
        <div class="card mb-2">
            <a class="card-body" href="{% url 'topic_detail' topic.pk %}">
                <h5 class="card-title">{{ topic.title }}</h5>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}