<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a class="reg" href="#signup">Sign Up</a>
        <a class="reg" href="#signin">Sign In</a>
      </div>

    <div class="left">
    <h1 style="display:inline-block">
        Python
        <img src="logo.png" alt="Python Logo" style="width: 3rem; height: 3rem;">
    </h1>
    <p class="desc">Welcome to our Beginner Python Course! Click the button below to get started.</p>
    <a class="begin" href="class1.html">Begin</a>
      </div>

    <div class="right">
        <h2>Classes</h2>
        <div class="container">
        <p><a class="classes" href="class1.html">Lesson 1: Hello World, or rather, Hello Python</a></p>
        <p><a class="classes" href="class2.html">Lesson 2: Creating & Calling Functions</a></p>
        <p><a class="classes" href="class3.html">Lesson 3: True or False? Booleans & Conditionals</a></p>
        <p><a class="classes" href="class4.html">Lesson 4: A guide on Lists in Python</a></p>
        <p><a class="classes" href="class5.html">Lesson 5: Learning about Loops & List Comprehensions</a></p>
        <p><a class="classes" href="class6.html">Lesson 6: Working with Strings & Dictionaries</a></p>
        <p><a class="classes" href="class7.html">Lesson 7: Jumping into The Land of External Libraries</a></p>
      </div>
    </div>

</body>
</html>